@use '../../../styles/index' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  border-radius: 0.625rem;
  cursor: pointer;
  transition:
    background-color 0.2s,
    opacity 0.2s;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 0.125rem solid $color-primary;
    outline-offset: 0.125rem;
  }

  &.sm {
    padding: 0 1rem;
    font-size: 0.875rem;
  }
  &.md {
    padding: 0 1.5rem;
    font-size: 1rem;
  }
  &.lg {
    padding: 0 2rem;
    font-size: 1.125rem;
  }

  &.primary {
    background: $color-primary;
    color: $color-white;
    &:hover {
      background: $color-primary-hover;
    }
    &:active {
      background: $color-primary-active;
    }
  }

  &.secondary {
    background: transparent;
    color: $color-primary;
    border: 0.0625rem solid $color-primary;
    &:hover {
      background: $color-overlay-primary-light;
    }
    &:active {
      background: $color-overlay-primary-medium;
    }
  }

  &.ghost {
    background: transparent;
    color: $color-primary;
    &:hover {
      background: $color-overlay-primary-light;
    }
    &:active {
      background: $color-overlay-primary-medium;
    }
  }

  &.gradient {
    background: $gradient-primary;
    color: $color-white;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.8;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
}
