@use '../../../styles/index' as *;

.container {
  width: 100%;
  background: $color-overlay-progress-bg;
  border-radius: 999px;
  overflow: hidden;
}

.bar {
  height: 100%;
  border-radius: 999px;
  transition: width 0.4s ease;
}
.xs {
  height: 4px;
}

.sm {
  height: 8px;
}
.md {
  height: 12px;
}

.purple {
  background: $color-primary;
}
.green {
  background: $color-accent-lime-green;
}
.orange {
  background: $color-secondary-orange;
}
.pink {
  background: $color-secondary-pink;
}
