.container {
  width: 100%;
  background: rgba(107, 142, 127, 0.2);
  border-radius: 999px;
  overflow: hidden;
}

.bar {
  height: 100%;
  border-radius: 999px;
  transition: width 0.4s ease;
}
.xs {
  height: 4px;
}

.sm {
  height: 8px;
}
.md {
  height: 12px;
}

.purple {
  background: #6631db;
}
.green {
  background: #59ee50;
}
.orange {
  background: #ff6600;
}
.pink {
  background: #ff6ea9;
}
