@use '../../../../styles/index' as *;

.container{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.admin_panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

&__panel{
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.8rem;
    }
&__subtitle{
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1.125rem;
        color:$color-neutral-text-tertiary;
    }
}