@use '../../../styles/index' as *;

.container {
  width: 100%;
  background: $color-overlay-progress-bg;
  border-radius: 62.4375rem;
  overflow: hidden;
}

.bar {
  height: 100%;
  border-radius: 62.4375rem;
  transition: width 0.4s ease;
}
.xs {
  height: 0.25rem;
}

.sm {
  height: 0.5rem;
}
.md {
  height: 0.75rem;
}

.purple {
  background: $color-primary;
}
.green {
  background: $color-accent-lime-green;
}
.orange {
  background: $color-secondary-orange;
}
.pink {
  background: $color-secondary-pink;
}
